[user]
name = Matt Pryer
email = 81967541+mwpryer@users.noreply.github.com
signingkey = BB8FF16C7BC1A369
[core]
pager = delta
excludesfile = ~/.gitignore
autocrlf = input
whitespace = error
preloadindex = true
[init]
defaultBranch = main
[help]
autocorrect = prompt
[commit]
# show diff when writing commit message
verbose = true
sign = true
[branch]
sort = -committerdate
[tag]
sort = -taggerdate
[status]
short = true
branch = true
showStash = true
showUntrackedFiles = all
[blame]
# recent changes are highlighted more brightly
coloring = highlightRecent
[column]
# display branch/tag lists in columns when terminal is wide
ui = auto
[rebase]
autoStash = true
# warn if removing commits when manually rebasing
missingCommitsCheck = warn
# auto-update stacked branches when rebasing
updateRefs = true
[rerere]
enabled = true
[merge]
conflictstyle = zdiff3
[fetch]
# before fetching, remove any remote refs that no longer exist
prune = true
# validate object integrity on fetch/receive/transfer
fsckobjects = true
[receive]
fsckObjects = true
[transfer]
fsckobjects = true
[pull]
# rebase branches on top of the fetched branch instead of merging
rebase = true
[push]
autoSetupRemote = true
followTags = true
[log]
abbrevCommit = true
[diff]
tool = critique
# produces cleaner diffs than the default myers algorithm
algorithm = histogram
# improves git detection of file copies (as well as renames)
renames = copies
colorMoved = default
interHunkContext = 10
[difftool "critique"]
cmd = critique difftool \"$LOCAL\" \"$REMOTE\"
[interactive]
# use delta when running commands like `git add -p`
diffFilter = delta --color-only
# allow single key input for git commands
singlekey = true
[delta]
navigate = true
line-numbers = true
syntax-theme = Catppuccin Mocha
[include]
path = ~/.gitalias.txt
[alias]
llh = log-list -n 5
llr = log-list --date=relative
lln = log-list --numstat
# fzf aliases
af = "!f() { git add $(git ls-files --others --modified --deleted --exclude-standard | fzf --preview='git diff {} | delta' --preview-window='~3' --multi --reverse --border); }; f"
rf = "!f() { git restore --staged $(git diff --cached --name-only | fzf --preview='git diff --staged {} | delta' --preview-window='~3' --multi --reverse --border); }; f"
bf = "!f() { git switch $(git branch | fzf --height=20% --layout=reverse --border); }; f"
[url "https://github.com/"]
insteadOf = "gh:"
[url "https://github.com/mwpryer/"]
insteadOf = "mwp:"
