[user]
name = Matt Pryer
email = 81967541+mwpryer@users.noreply.github.com
signingkey = BB8FF16C7BC1A369
[core]
pager = delta
excludesfile = ~/.gitignore
autocrlf = input
whitespace = error
preloadindex = true
[init]
defaultBranch = main
[help]
autocorrect = prompt
[commit]
# show diff when writing commit message
verbose = true
sign = true
[branch]
sort = -committerdate
[tag]
sort = -taggerdate
[status]
short = true
branch = true
showStash = true
showUntrackedFiles = all
[blame]
# brighter highlight for recent changes
coloring = highlightRecent
[column]
# show branch/tag in columns when wide
ui = auto
[rebase]
autoStash = true
# warn if removing commits when manually rebasing
missingCommitsCheck = warn
# auto-update stacked branches when rebasing
updateRefs = true
[rerere]
enabled = true
[merge]
conflictstyle = zdiff3
[fetch]
# before fetching, rm remote refs that no longer exist
prune = true
# validate object integrity on fetch/receive/transfer
fsckobjects = true
[receive]
fsckObjects = true
[transfer]
fsckobjects = true
[pull]
# rebase on top of fetched branch instead of merging
rebase = true
[push]
autoSetupRemote = true
followTags = true
[log]
abbrevCommit = true
[diff]
tool = critique
# cleaner diffs than default myers algorithm
algorithm = histogram
# also detect copies
renames = copies
colorMoved = default
interHunkContext = 10
[difftool "critique"]
cmd = critique difftool \"$LOCAL\" \"$REMOTE\"
[interactive]
# use delta when running commands like `git add -p`
diffFilter = delta --color-only
# single key input for git commands
singlekey = true
[delta]
navigate = true
line-numbers = true
syntax-theme = Catppuccin Mocha
[include]
path = ~/.gitalias.txt
path = ~/.gitaliases
[filter "homedir"]
clean = sed \"s|$HOME|\\$HOME|g\"
[url "https://github.com/"]
insteadOf = "gh:"
[url "https://github.com/mwpryer/"]
insteadOf = "mwp:"
